<section class="content">
    <h1 id="angular-components-overview">
        O que são diretivas ?
    </h1>

    <p>As  diretivas  são  marcadores  em  um  elemento  DOM  (como  um atributo)  que  informam  ao  Angular  para  anexar  um comportamento especificado  a  um  elemento  existente.</p>

    <p>O  propósito  da  diretiva  é fornecer meios para que possamos manipular o DOM ou estender as funcionalidades do elemento no qual a diretiva terá ação, como por exemplo alterar o seu conteúdo, estilo, visibilidade etc.., dependendo da  necessidade  da  funcionalidade  a  ser  desenvolvida.As  diretivas aumentam ainda mais a interatividade eperformance de um websitepara o usuário. Tambem sendo possivel criar logicas que facilitem e diminuam o trabalho como por exemplo *ngIf para logicas de validação e *ngFor para varredura de Arrays.</p>

    <h2>Tipos de diretivas</h2>
    <p>Estas são algumas das diretivas mais usadas:</p>

    <ul id="diretivas">
        <li>ngStyle: Adiretiva ngStyle serve para alterar em tempo real valores  de  propriedades  de  CSS  dentro  de  um elemento HTML  ou  componente.Essa  diretiva receberáum objeto com  as  propriedades  que  serão  mudadasdinamicamente. Parausar  essa  diretiva, adicione-ocomo  atributo  do  seu elemento ou  componente com  a  sintaxe [ngStyle] o objeto receberá  as  propriedadesque  serão  mudadas  que serão interpretadas pelo Angular e executadas visualmente pra o usuário</li>
        <li>ngClass: Adiretiva   ngClass   serve   para   adicionar   ou remover   uma   classe   de   algum elemento   HTML   ou componente  que  está sendo usado.  O  ngClass,  como  o ngStyle,  pode  receber  um  objeto  como  valor,  onde  os atributos desse objeto será o nome das classes e os valores alguma  expressão booleana  que se  verdadeira,  adicionará a  classe,  sefalsa,  não  adicionará. Mas  também  pode receber  diretamente  um  atributo  do  componenteonde  o valor desse atributo é uma string com o nome da classe.A sintaxe éa mesma do ngStyle. Basta colocar a diretivacomo atributo[ngClass].
        </li>
        <li>ngIf: O  ngIf  é  uma  diretiva  estrutural  que,  a  partir  de  uma condição  booleana,  pode  ou  nãoadicionar  elementos  a DOM,  dinamizando  ainda  mais  o  site  a  interatividade  do usuário.  Diferente  das  outras  diretivas  apresentadas, essa não ficará em volta de colchetes, mas sim acompanhada de um asterisco (*), sendo assim sua sintaxe *ngIf=”expressaoBooleana”.  Adicionando  o  ngIf  a  algum elemento, ele podeou não ser criado dentro da DOM do seu website</li>
        <li>ngSwitch: O ngSwitch também é uma diretiva estruturale similar a estrutura switchdas linguagens de programação. O diferencial dessa diretiva é que ela se divide em 3 partes:ngSwitch,ngSwitchCase engSwitchDefault,   onde   ongSwitch recebe o atributo que será testado, ngSwitchCase receberá   o valor   que   tornará   o   case   verdadeiro   e   o ngSwitchDefault   será   um   elemento   padrão   que   será renderizado  caso  nenhum  dos  cases  for  verdadeiro.  A sintaxe do ngSwitch é [ngSwitch]=”attribute”. Enquanto do ngSwitchCase e do ngSwitchDefault recebem o asterisco na frente deles</li>
        <li>ngFor: Essa   diretiva,   sem   dúvida,   é   uma   das   mais importantes. Com ela, você constrói laços de repetiçãopara arrays  que  contém dados  que  serão  apresentados  na  tela do  usuário. A  sintaxe  dessa diretiva  é  parecida  com  a  do ngIf. No entanto, o jeito de usá-lo é diferente. Para usá-lo, a sintaxe  dele  é *ngFor=”let  value  of  values”. A  variável valuepossui  um  único  valor  de  alguma  posição  do  array values,  podendo  acessar assimoseu  valor.  Se  caso  for necessário,  você  pode também acessaro  índice  atual  do elemento  do  array.  Para  isso,  basta  adicionar  um  ponto-e-vírgula (;)depois da primeira expressão e depois criar uma nova  variável  que  receberá  o índice,  ficando  da  seguinte forma: *ngFor=”let  value  of  values;  let  idx  =  index”. Fazendo assim, o índice atual do elementoestará acessível.</li>
    </ul>

    <h2>Pré-requisitos</h2>
    <p>Para criar uma diretiva, verifique se está seguindo estes pré-requisitos</p>
    
    <ol>
        <li>Instale o Angular CLI com o seguinte comando: npm install g @angular/cli</li>
        <li>Veja se ja esta com o projeto criado. Se ainda nao possui um projeto, crie um usando o seguinte comando no prompt de comando: ng new nome-do-projeto, onde nome-do-projeto é o nome da sua aplicação em Angular </li>
        <li>Digite o comando: ng serve --open. Seu navegador irá abrir com a pagina do Angular informando que seu projeto está funcionando.</li>
    </ol>

    <h2>Criando uma diretiva</h2>
    <p>A melhor maneira de criar uma diretiva é com a Angular CLI. Você também pode criar uma diretiva manualmente.</p>

    <h3>Criando uma diretiva usando Angular CLI</h3>
    <p>Para criar uma diretiva usando o Angular CLI:</p>

    <ol>
        <li>Na janela do terminal, navegue até o diretório que contenha sua aplicação.</li>
        <li>Coloque o seguinte comando: ng generate directive nome-da-pasta-que-contem-o-modulo/nome-da-pasta/nome-da-diretiva.</li>
    </ol>

    <p>Por padrão, este comando cria o seguinte:</p>
    <ul>
        <li>O arquivo directive, nome-da-diretiva.directive.ts</li>
    </ul>
    <p>Onde nome-da-diretiva é o nome do seu component.</p>
</section>

