<section class="content">
    <h1 id="angular-components-overview">
        O que são rotas ?
    </h1>

    <p>Em um aplicativo  de  página  única, você altera o que o usuário vê, mostrando ou ocultando partes da tela que correspondem a componentes específicos, em vez de ir ao servidor para obter uma nova página. À medida que os usuários executam as tarefas do aplicativo, eles precisam se mover entre as diferentes visualizações que você definiu.</p>

    <p>Para controlar a navegação de uma view para a próxima, você usa o Angular Router. O Router permite a navegação interpretando um URL do navegador como uma instrução para alterar a visualização.</p>

    
    <h2>Pré-requisitos</h2>
    <p>Para criar um service, verifique se está seguindo estes pré-requisitos</p>
    
    <ol>
        <li>Instale o Angular CLI com o seguinte comando: npm install g @angular/cli</li>
        <li>Veja se ja esta com o projeto criado. Se ainda nao possui um projeto, crie um usando o seguinte comando no prompt de comando: ng new nome-do-projeto, onde nome-do-projeto é o nome da sua aplicação em Angular </li>
        <li>Digite o comando: ng serve --open. Seu navegador irá abrir com a pagina do Angular informando que seu projeto está funcionando.</li>
    </ol>

    <h2>Criando uma rota</h2>
    <p>A melhor maneira de criar um service é com a Angular CLI. Você também pode criar um service manualmente.</p>

    <h3>Criando um service usando Angular CLI</h3>
    <p>Para criar uma rota usando o Angular CLI:</p>

    <ol>
        <li>Dentro da pasta que contem o modulo crie um arquivo: nome-do-arquivo-routing.module.ts</li>
        <li>Coloque o seguinte comando dentro do arquivo<br>
            <img src="assets/Capturar1.PNG" >
        </li>
        
    </ol>

    <p>Por padrão, este comando cria o seguinte:</p>
    <ul>
        <li>Uma rota que será usada na aplicação</li>
    </ul>
    <p>Onde nome-do-arquivo-routing é o nome do seu arquivo que comporta a rota.</p>
</section>
