<div class="background-sky hero"></div>
<section id="intro">
    <div class="hero-logo"></div>
    <div class="homepage-container">
        <div class="hero-headline no-toc">
            The modern web
            <br>
            developer's platform
        </div>
        <a class="button hero-cta no-print">Get Started</a>
    </div>
</section>

<section>
    <article id="conteudo">
        <div class="home-rows">

            <p></p>

            <!--GRUPO 1-->
            <div layout="row" layout-xs="column" class="home-row homepage-container">
                <div class="promo-img-container promo-1">
                    <div>
                        <img width="222" height="340" src="https://angular.io/generated/images/marketing/home/responsive-framework.svg" alt="">
                    </div>
                </div>
                <div class="text-container">
                    <div class="text-block promo-1-desc l-pad-top-2">
                        <div class="text-headline">Develop Across All Platforms</div>
                        <p class="text-body">Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.
                        </p>
                    </div>
                </div>
            </div>

            <hr>
            <!--GRUPO 2-->

            <div layout="row" layout-xs="column" class="home-row homepage-container">
                <div class="text-container">
                    <div class="text-block promo-1-desc l-pad-top-2">
                        <div class="text-headline">Speed & Performance</div>
                        <p class="text-body">Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.
                        </p>
                        <p class="text-body">Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.
                        </p>
                    </div>
                </div>

                <div class="promo-img-container promo-1">
                    <div>
                        <img width="222" height="340" src="	https://angular.io/generated/images/marketing/home/speed-performance.svg" alt="">
                    </div>
                </div>
            </div>

            <hr>

            <!--GRUPO 3-->

            <div layout="row" layout-xs="column" class="home-row homepage-container">
                <div class="promo-img-container promo-1">
                    <div>
                        <img width="222" height="340" src="	https://angular.io/generated/images/marketing/home/joyful-development.svg" alt="">
                    </div>
                </div>
                <div class="text-container">
                    <div class="text-block promo-1-desc l-pad-top-2">
                        <div class="text-headline">Incredible Tooling</div>
                        <p class="text-body">Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather than trying to make the code work.
                        </p>
                    </div>
                </div>
            </div>

            <hr>

            <!--GRUPO 4-->

            <div layout="row" layout-xs="column" class="home-row homepage-container">
                <div class="text-container">
                    <div class="text-block promo-1-desc l-pad-top-2">
                        <div class="text-headline">Loved by Millions</div>
                        <p class="text-body">From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest applications.
                        </p>
                    </div>
                </div>

                <div class="promo-img-container promo-1">
                    <div>
                        <img width="222" height="340" src="	https://angular.io/generated/images/marketing/home/loved-by-millions.svg" alt="">
                    </div>
                </div>
            </div>

            <!--CARD-->
            <div layout="row" layout-xs="column" class="home-row">
                <a href="#">
                    <div class="card">
                        <img src="https://angular.io/generated/images/marketing/home/code-icon.svg" width="70" height="70" loading="lazy" alt="">
                        <div class="card-text-container">
                            <div class="text-headline">Try it now</div>
                            <p>Explore Angular's capabilities with a ready-made sample app. No setup required.</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        
    </article>

    <footer class="no-print">
        <div class="aio-footer">
            <div class="grid-fluid">

                <div class="footer-block ng-star-inserted">
                    <h3>Resources</h3>
                    <ul>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">About</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Resource Listing</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Press Kit</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Blog</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Usage Analytics</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-block ng-star-inserted">
                    <h3>Help</h3>
                    <ul>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Stack Overflow</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Join Discord</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Gitter</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Report Issues</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Code of Conduct</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-block ng-star-inserted">
                    <h3>Community</h3>
                    <ul>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Events</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Meetups</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Twitter</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">GitHub</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Contribute</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-block ng-star-inserted">
                    <h3>Languages</h3>
                    <ul>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Español</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">简体中文版</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">正體中文版</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">日本語版</a>
                        </li>
                        <li class="ng-start-inserted">
                            <a class="link" href="#">Complete language list</a>
                        </li>
                    </ul>
                </div>

            </div>

            <p class="rodape-text"> Super-powered by Google ©2010-2021.</p>
            <p class="rodape-text">
                <a href="#">MIT-style License</a>
                . Documentation licensed under
                <a href="#">CC BY 4.0</a>
                .
            </p>
            <p class="rodape-text">Version 12.2.10-local+sha.dbc17be3e2.</p>

        </div>
    </footer>
</section>
